/* Reset CSS */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

/* variáveis */
:root {
  --color-light: #ffffff;
  --color-orange: #e6630d;
  --color-blue: rgb(12, 7, 39);
  --transition: 0.5s;
  --l-gradiente: rgba(4, 9, 30, 0.3), rgba(4, 9, 30, 0.9);
}

html {
  scroll-behavior: smooth;
}

/* formatações genéricas */
a {
  text-decoration: none;
  color: var(--color-light);
  font-weight: 900;
  transition: var(--transition);
}

a:hover:not(.logo) {
  color: var(--color-orange);
}

ul,
ol {
  list-style: none;
}

img {
  max-width: 100%;
}

.nav-bar {
  width: 100%;
  height: 100px;
  display: flex;
  justify-content: space-between;
  padding: 20px;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  transition: var(--transition);
}

.logo {
  position: relative;
  top: 5px;
  left: 20px;
  font-size: 32px;
}

.logo-square {
  background-color: var(--color-orange);
  padding: 5px;
  border-radius: 5px;
}

.nav-menu {
  display: flex;
  align-items: center;
}

.nav-menu li {
  margin: 0 30px;
}

.nav-menu li::after {
  content: "";
  width: 0;
  height: 3px;
  background-color: var(--color-orange);
  display: block;
  margin: auto;
  transition: var(--transition);
}

.nav-menu li:hover::after {
  width: 100%;
}

.active-scroll {
  background-color: rgba(1, 1, 68, 0.89);
}

/* header  */
.header-page {
  width: 100%;
  height: 100vh;
  background-image: linear-gradient(var(--l-gradiente), var(--l-gradiente)), url(../images/banner.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: var(--color-light);
  text-align: center;
}

.header-page h1 {
  font-size: 9vmin;
  margin: 30px 0;
}

.header-page p {
  width: 50%;
  margin: 20px 0 50px;
}

.btn {
  background-color: var(--color-orange);
  border: 2px solid var(--color-orange);
  padding: 8px 35px;
  border-radius: 5px;
  color: var(--color-light);
  transition: var(--transition);
}

.btn:hover {
  background-color: transparent;
}

.fa-paper-plane {
  margin-left: 7px;
}

/* menu sanduíche */
.menu-btn {
  position: absolute;
  top: 30px;
  right: 30px;
  font-size: 32px;
  cursor: pointer;
  display: none;
  color: var(--color-light);
}

/* fim header */

/********************************* explore *********************************/
.box {
  width: 85%;
  min-height: 100vh;
  margin: auto;
  text-align: center;
  padding: 20px 0;
}

.box-title {
  font-size: 6vmin;
  margin: 20px 0;
}

.box-list {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.box-list-item {
  width: 30%;
  height: 500px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50%;
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: var(--transition);
}

.box-list-item:hover {
  transform: scale(1.1);
}

.box-list-img1 {
  background-image: linear-gradient(var(--l-gradiente), var(--l-gradiente)), url(../images/explore1.jpg);
}

.box-list-img2 {
  background-image: linear-gradient(var(--l-gradiente), var(--l-gradiente)), url(../images/explore2.jpg);
}

.box-list-img3 {
  background-image: linear-gradient(var(--l-gradiente), var(--l-gradiente)), url(../images/explore3.jpg);
}

/********************************* fim explore *****************************/

/********************************* hero *****************************/
.hero {
  width: 100%;
  min-height: 100vh;
  background-image: linear-gradient(var(--l-gradiente), var(--l-gradiente)), url(../images/emcasa.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  align-items: center;
}

.hero-content {
  width: 60%;
  padding: 50px;
  color: var(--color-light);
}

.hero-content h2 {
  font-size: 7vmin;
}

.hero-content p {
  font-weight: 600;
  margin-bottom: 20px;
  line-height: 36px;
}
/********************************* fim hero *****************************/

/********************************* gallery *****************************/
.gallery {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-evenly;
}

.gallery-item {
  width: 28%;
  margin: 30px 0;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 20px;
  box-shadow: 1px 1px 30px #ccc;
  border-radius: 5px;
  transition: var(--transition);
}

.gallery-item:hover {
  transform: scale(1.1);
}

.gallery-item img {
  width: 90%;
  border-radius: 5px;
}

.gallery-item h3 {
  margin: 20px 0;
  font-weight: 800;
}

.gallery-item p {
  margin: 0 0 30px;
  width: 80%;
}
/********************************* fim gallery *****************************/

/******************** Pensando no responsivo  **************************/
/******** Menu ****************/
@media (max-width: 1000px) {
  .menu-btn {
    display: block;
  }

  .nav-bar {
    padding: 0;
  }

  .logo {
    position: absolute;
    top: 25px;
    left: 30px;
  }

  .nav-menu {
    flex-direction: column;
    width: 100%;
    height: 100vh;
    justify-content: center;
    background-color: var(--color-blue);
    margin-top: -1100px;
    transition: var(--transition);
  }

  .mobile-menu {
    margin-top: 0;
  }

  .nav-menu li {
    margin: 30px auto;
  }

  .nav-menu a {
    text-transform: uppercase;
  }

  /* explore */
  .box-list {
    flex-direction: column;
  }

  .box-list-item {
    width: 100%;
    margin-bottom: 30px;
  }

  .hero-content {
    width: 100%;
    padding: 20px;
    text-align: center;
  }

  .gallery-item {
    width: 85%;
  }
}

/* @media(max-width: 600px){

} */
